body {
	font-family: arial, helvetica, sans-serif;
	font-size: 80%;
	color: black;
	background-color: #ffc;
	margin: 1em;
	padding; 0;

	/* By the way, this is a comment */
}
h1 {
	color: #ffc;
	background-color: #900;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0.25em;
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
	font-size: 2em;
	text-align: center;
	letter-spacing: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: #c00;
}
h2 {
	color: white;
	font-size: 1.5em;
	background-color: #090;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
}
h3 {
	color: #999;
	font-size: 1.25em;
}
img {
	border-style: dashed;
	border-width: 2px;
	border-color: #ccc;
}
p {
	line-height: 1.5em;
}
a {
	text-decoration: none;
}
strong {
	font-style: italic;
	text-transform: uppercase;
}
 li {
	 color: #900;
	 font-style: italic;
 }
 table {
	 background-color: #ccc;
 }
input {
	color: lime;
	font-size: 7pt;
}
